body{
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;

  line-height: 1.15;
  text-align: center;
}

h1 {
  font-weight: 700;
}

b {
  color: hsl(277, 64%, 61%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

h2 {
  font-family: 'Lexend Deca', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

/* Helpers */

.uppercase {
  text-transform: uppercase;
}

/* Card */

.card {
  margin: 6.5vw;
  background-color: hsl(244, 38%, 16%);

  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

/* Card Image */

.cardImage {
  background-color: hsl(277, 64%, 61%);
  height: 25.1vh;
  background-image: url("../images/image-header-mobile.jpg");
  background-blend-mode:multiply; /*luminosity, multiply*/
  background-repeat: no-repeat;
  background-size:contain;
}

/* Card Content */

.cardContent{
  padding: 2vh 6vw 0 6vw;
}

.main {
  line-height: 1.75;

  padding: 0 2vw;
}

.stats p{
  color: hsla(0, 0%, 100%, 0.6);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }